body {
    background-image: linear-gradient(to bottom right, rgb(209, 225, 248), rgb(243, 218, 255));
}

#title_ {
    color: black;
    margin-left: 0.025%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 350%;
}

.main_body {
        font-size: 20px;
        margin: 10px;
    }

.news-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

#news1, #news2, #news3 {
  flex: 1;
  font-size: 20px;
  padding: 2.5px;
}



@media only screen and (max-width: 600px) {
    .news-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 20px;
    }
    #news1, #news2 {
        flex: 1;
        font-size: 20px;
        padding: 2.5px;
    }
    #news3 {
        font-size: 20px;
        padding: 2.5px;
        margin-top: 20px;
    }
}